name: Greetings

on: 
  [pull_request_target, issues]

jobs:
  greeting:
    runs-on: windows-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
    - name: Send Greeting
      uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: >
          Hvala 코to ste otvorili svoj prvi issue! Va코 doprinos je veoma cenjen. 游꿀
          Ako imate bilo kakvih pitanja ili trebate pomo캖, slobodno nas kontaktirajte.
        pr-message: >
          Hvala 코to ste poslali svoj prvi pull request! 游
          Radujemo se va코em doprinosu. Ako imate bilo kakvih pitanja, slobodno nas kontaktirajte.
